body {
	background-image: url("/images/casino-green.jpg");
	background-size: contain;
	min-width: 640px; /*1060 */
	max-width: 700px;
	font-family: Helvetica, sans-serif;
}

#UI-container {
	/* display: flex;
	flex-direction: column; */
	background-color: aquamarine;
	width: 100%;
	min-width: 300px;
	height: 100%;
}

#game-title {
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(240, 176, 14);
	font-size: 22;
	height: 70px;
}
#card-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 1px;
	margin: 10px 5px;
}
#card-box div {
	display: inline-block;
	/* background-color: bisque; */
	height: 229px;
	width: 320px;
	border-radius: 6px;
	/* background-image: url("/images/ace.png"); */
	background-size: contain;
	background-repeat: no-repeat;
}
#card-box img {
	height: 114px;
	width: 160px;
	object-fit: contain;
}

#btn-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 15px;
	margin-top: 20px;
}
#bidAmount {
	color: goldenrod;
}
#sumOfCards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: goldenrod;
	font-size: 20px;
	font-weight: 700;
}
button {
	cursor: pointer;
	background-color: #2f6b4d;
	color: goldenrod;
	border: none;
	height: 40px;
	border-radius: 6px;
	font-weight: 700;
	font-size: 20px;
	transition: opacity background-color color 0.15s;
}
button:hover {
	opacity: 0.8;
}
button:active {
	background-color: goldenrod;
	color: #2f6b4d;
}
#credits-box {
	margin-left: 22px;
	font-size: 18px;
	color: antiquewhite;
}
#msg-box {
	background-color: #2f6b4d;
	font-size: 20px;
	color: antiquewhite;
	padding: 4px;
	min-width: 500px;
	max-width: 1060px;
	height: 150px;
	width: 530px;
	border-radius: 10px;
	font-weight: 700;
	margin: 0px 0px 10px 20px;
}
@media screen and (min-width: 700px) {
	body {
		margin-left: 300px;
	}
	#game-title {
		font-size: 35px;
		margin-bottom: 25px;
	}
}
@media screen and (max-width: 700px) {
	#game-title {
		font-size: 35px;
		margin-bottom: 25px;
	}
	#card-box {
		margin-top: 40px;
	}
	#card-box img {
		height: 114px;
		width: 160px;
		object-fit: contain;
	}
	#sumOfCards {
		margin-top: -70px;
	}
}
